.menu-container {
  position: fixed;
  top: 32px;
  left: 0px;
  right: 0px;
}

.menu-item {
  display: inline-flex;
  gap: 5px;
  height: 32px !important;
}

.menu-item-text {
  flex-grow: 1;
  text-align: left;
}

.menu-item-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.menu-item-icon label {
  display: block;
}

.menu-list {
  margin: 0 !important;
  padding: 1px !important;
  position: fixed !important;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15) !important;
  z-index: 1000;
  min-width: 150px;
  max-height: 50vh;
  overflow-y: hidden;
}
