.rs-table-row-header .rs-table-cell-content {
  background-color: #c6c6c6;
  font-size: initial;
  color: black;
}

.tree-row--highlighted {
  background-color: #060084 !important;
  color: white !important;
  border-top: dotted 2px white !important;
  border-bottom: dotted 2px white !important;
}

.tree-row--highlighted:first-child {
  border-left: dotted 2px white !important;
}

.tree-row--highlighted:last-child {
  border-right: dotted 2px white !important;
}

.tree-row--highlighted--unfocussed {
  background-color: white !important;
  border-top: solid 2px #060084 !important;
  border-bottom: solid 2px #060084 !important;
}

.tree-row--highlighted--unfocussed:first-child {
  border-left: solid 2px #060084 !important;
}

.tree-row--highlighted--unfocussed:last-child {
  border-right: solid 2px #060084 !important;
}

.rs-table-cell-content {
  user-select: none;
  cursor: default;
}

.bold {
  font-weight: 600;
}
