.titlebar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 32px;
  background: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: drag;
}

.titlebar-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#titlebar-close:hover {
  background: #e81123;
}

.titlebar-button {
  -webkit-app-region: no-drag;
  width: 46px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
}

.titlebar-text {
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* Internet Explorer */
  color: white;
  font-weight: 600;
  pointer-events: none;
}

.titlebar-buttons {
  position: fixed;
  right: 0px;
}
